:root {
  --caption-text-color: #ffffff;
  --link-tex-color: #212121;
  --auth-nav-text-color: #757575;
  --lead-text-color: #757575;
  --item-text-color: rgba(255, 255, 255, 0.6);
  --logo-text-color: #2196f3;
  --subject-text-color: #2f303a;
  --ordinary-color: #f5f4fa;
  --ms-transition: 250ms linear;
  --transition-effect: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--link-tex-color);
  background-color: var(--caption-text-color);
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway";
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  width: 145px;
  margin-right: 93px;
  color: var(--logo-text-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__header {
  color: var(--link-tex-color);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background: var(--caption-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.data-modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--normal-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.data-modal-close {
  cursor: pointer;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--caption-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-close {
  color: #000000;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

/*----------------MODAL FORM---------------------*/
.modal__field {
  margin-bottom: 10px;
}

.modal__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4px;
}

.modal__wrap {
  position: relative;
  margin-top: 4px;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.modal__icon {
  bottom: 14px;
  left: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*-----------------MODAL FORM AND--------------------*/
/*-----------------MODAL-CHECKBOX-------------------*/
.modal__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check__icon {
  fill: transparent;
}

.check__icon {
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__gabarit {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}

.modal__name a {
  color: var(--logo-text-color);
}

.modal__icon {
  bottom: 14px;
  left: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-check:checked + .modal__name span {
  background-color: var(--logo-text-color);
  border-radius: 2px;
}

.input-check:checked + .modal__name .check__icon {
  fill: var(--caption-text-color);
  border: none;
}

/*-----------------MODAL-CHECKBOX  AND-------------------*/
/*-----------------MONDAL-BUTOON-----------------------*/
.mondal__buttons {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  background: var(--logo-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
}

.mondal__bth {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: auto;
  color: var(--caption-text-color);
  background-color: var(--logo-text-color);
  border: var(--logo-text-color);
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
}

/*----------------------MONDAL-BUTOON AND--------------------------*/
/*-------------------MONDAL-CLOSE-----------------------*/
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background: var(--caption-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.data-modal-close:hover,
.data-modal-close:focus {
  border-color: #000000;
}

.data-modal-close:hover .icon-close,
.data-modal-close:focus .icon-close {
  fill: var(--logo-text-color);
}

.no-scroll {
  overflow: hidden;
}

.modal-modal:focus {
  border-color: var(--logo-text-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--logo-text-color);
}

.modal__input:focus,
.modal__input:focus {
  outline: var(--logo-text-color) solid 1px;
}

.modal__gabarit:focus,
.modal__gabarit:focus {
  outline: var(--logo-text-color) solid 1px;
}

/*-----------------MONDAL-CLOSE AND---------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms linear, visibility 500ms;
  transition: opacity 500ms linear, visibility 500ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header__menu .link {
  color: var(--link-tex-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu .link:hover,
.header__menu .link:focus {
  color: var(--logo-text-color);
}

.header__page {
  color: var(--logo-text-color);
  position: relative;
}

.header__page::after {
  display: block;
  content: "";
  text-align: center;
  width: 100%;
  height: 1px;
  bottom: -32px;
  background-color: var(--logo-text-color);
  color: var(--logo-text-color);
  border: 2px solid;
  border-radius: 10px;
  position: absolute;
}

.header {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__mail {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--auth-nav-text-color);
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mail:hover,
.header__mail:focus {
  color: var(--logo-text-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__caption {
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
  color: var(--caption-text-color);
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero__bth {
  width: 216px;
  height: 50px;
  cursor: pointer;
  border: var(--logo-text-color);
  color: var(--caption-text-color);
  background-color: var(--logo-text-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--ms-transition) color var(--ms-transition);
  transition: background-color var(--ms-transition) color var(--ms-transition);
  -webkit-transition-timing-function: var(--transition-effect);
          transition-timing-function: var(--transition-effect);
}

.hero__bth:focus,
.hero__bth:hover {
  background-color: #188ce8;
}

.thumb {
  padding-top: 94px;
  padding-bottom: 118px;
}

.thumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  height: 98px;
}

.thumb__item {
  margin-right: 30px;
  width: 270px;
  height: 98px;
}

.thumb__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background: var(--ordinary-color);
  border-radius: 4px;
  height: 120px;
}

.thumb__text {
  max-width: 270px;
  height: 16px;
  margin-bottom: 10px;
  color: var(--link-tex-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.thumb__lead {
  max-width: 270px;
  color: var(--lead-text-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.thumb__list li:last-child {
  margin: 0;
}

.features {
  padding-top: 118px;
  padding-bottom: 94px;
}

.features__text {
  margin-bottom: 50px;
  color: var(--link-tex-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features__item {
  position: relative;
}

.features__title {
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
  width: 100%;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--ordinary-color);
}

.work__items {
  margin-bottom: 50px;
  color: var(--link-tex-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work__item {
  width: 270px;
  height: 428px;
  left: 215px;
  top: 1632px;
  background: var(--caption-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.work__description {
  padding: 30px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__list {
  margin-bottom: 10px;
  color: var(--link-tex-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.work__lead {
  color: var(--lead-text-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.work__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.work__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--ms-transition);
  transition: background-color var(--ms-transition);
  -webkit-transition-timing-function: var(--transition-effect);
          transition-timing-function: var(--transition-effect);
}

.work__icon {
  fill: #afb1b8;
}

.work__link:hover,
.work__link:focus {
  background-color: var(--logo-text-color);
}

.work__link:hover .work__icon,
.work__link:focus .work__icon {
  fill: var(--caption-text-color);
}

.customers {
  padding: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-tex-color);
  margin-bottom: 50px;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.customers__logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  -webkit-transition: fill var(--ms-transition);
  transition: fill var(--ms-transition);
  -webkit-transition-timing-function: var(--transition-effect);
          transition-timing-function: var(--transition-effect);
}

.customers__icon {
  fill: #afb1b8;
}

.customers__logo:hover,
.customers__logo:focus {
  border-color: var(--logo-text-color);
}

.customers__logo:hover .customers__icon,
.customers__logo:focus .customers__icon {
  fill: var(--logo-text-color);
}

/*-------------------------CARDS TEXT-----------*/
.cards__text {
  padding-top: 94px;
  padding-bottom: 94px;
}

.cards__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.cards__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
  gap: 8px;
}

.cards__text .butons {
  color: var(--link-tex-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  -webkit-transition: color var(--ms-transition), background-color var(--ms-transition), -webkit-box-shadow var(--ms-transition);
  transition: color var(--ms-transition), background-color var(--ms-transition), -webkit-box-shadow var(--ms-transition);
  transition: color var(--ms-transition), background-color var(--ms-transition), box-shadow var(--ms-transition);
  transition: color var(--ms-transition), background-color var(--ms-transition), box-shadow var(--ms-transition), -webkit-box-shadow var(--ms-transition);
  -webkit-transition-timing-function: var(--transition-effect);
          transition-timing-function: var(--transition-effect);
}

.cards__butons {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--ordinary-color);
  -webkit-filter: none;
          filter: none;
  padding: 6px 22px;
}

.butons {
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.cards__text .butons:hover,
.cards__text .butons:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards__text .butons:hover,
.cards__text .butons:focus {
  background-color: #2196f3;
  color: var(--caption-text-color);
}

.pic__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.pic__item {
  width: 370px;
  height: 404px;
  background: #ffffff;
}

.pic__list .list {
  color: var(--lead-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.pic__wrap {
  position: relative;
  overflow: hidden;
}

.pic__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--caption-text-color);
  background-color: var(--logo-text-color);
  padding: 63px 24px;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--ms-transition);
  transition: -webkit-transform var(--ms-transition);
  transition: transform var(--ms-transition);
  transition: transform var(--ms-transition), -webkit-transform var(--ms-transition);
}

.pic__description {
  border: 1px solid #ececec;
  padding: 20px 24px;
}

.pic__name {
  color: var(--link-tex-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-list .title {
  color: var(--link-tex-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.pic__item:hover .pic__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.pic__item:hover,
.pic__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.pic__link {
  display: block;
}

.list {
  text-decoration: none;
}

.foot {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--subject-text-color);
}

.foot__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 70px;
}

.foot__basement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.foot__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.foot__page {
  color: var(--caption-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--ms-transition);
  transition: color var(--ms-transition);
  -webkit-transition-timing-function: var(--transition-effect);
          transition-timing-function: var(--transition-effect);
  cursor: pointer;
}

.foot__item {
  color: var(--item-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color var(--ms-transition);
  transition: color var(--ms-transition);
  -webkit-transition-timing-function: var(--transition-effect);
          transition-timing-function: var(--transition-effect);
}

.foot__title {
  list-style: none;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--caption-text-color);
  margin-bottom: 20px;
}

.foot__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.foot__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.foot__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot__icon {
  fill: var(--caption-text-color);
}

.logo__foot {
  color: var(--caption-text-color);
}

.foot__link:hover,
.foot__link:focus {
  background-color: var(--logo-text-color);
  color: var(--caption-text-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot__caption {
  color: var(--caption-text-color);
}

.page:hover,
.page:focus {
  color: var(--logo-text-color);
}

.item:hover,
.item:focus {
  color: var(--logo-text-color);
}

/*----------------------------------FOOTER FORM---------------------------------------*/
.footer__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--caption-text-color);
  margin-bottom: 20px;
}

.footer__email {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2784px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--caption-text-color);
}

.footer__email:focus,
.footer__email:focus {
  outline: #2196f3 solid 1px;
}

.footer__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.footer__bth {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  min-width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--caption-text-color);
  background: var(--logo-text-color);
}

.footer__bth:focus,
.footer__bth:hover {
  background-color: #188ce8;
}

.footer__icon {
  fill: var(--caption-text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=main.css.map */