.section-text {
  padding-top: 94px;
  padding-bottom: 94px;
}

.ordinary-item:hover .ordinary-hover-text {
  transform: translateY(0);
}

.ordinary-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: $caption-text-color;
  background-color: $logo-text-color;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--ms-transition);
}

.ordinary-hover-wrap {
  position: relative;
  overflow: hidden;
}

.list {
  text-decoration: none;
}

.ordinary-description {
  border: 1px solid #ececec;
  padding: 20px 24px;
}

.ordinary-item {
  width: 370px;
  height: 404px;
  background: #ffffff;
}

.ordinary-item:hover,
.ordinary-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.ordinary-link {
  display: block;
}

.text-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.text-list .title {
  color: var(--link-tex-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-list .list {
  color: $lead-text-color;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
