.text-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  &.title {
    color: $link-tex-color;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &.list {
    color: $lead-text-color;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
}
