.logo {
  width: 145px;
  margin-right: 93px;

  color: var(--logo-text-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__header {
  color: var(--link-tex-color);
}
