.section-subject .bth {
  width: 216px;
  height: 50px;
  cursor: pointer;
  border: $logo-text-color;

  color: $caption-text-color;
  background-color: $logo-text-color;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition: background-color var(--ms-transition) color var(--ms-transition);
  transition-timing-function: var(--transition-effect);

  &.bth:focus,
  &.bth:hover {
    background-color: #188ce8;
  }
}
