.customers {
    padding: 0;
    padding-top: 94px;
    padding-bottom: 94px;
  
    &:hover,
    &:focus {
      border-color: $logo-text-color; 

     
    }

    &-title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--link-tex-color);
        margin-bottom: 50px;
      }

      &-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
      }

      &-logo {
        box-sizing: border-box;
        width: 170px;
        height: 92px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        transition: fill var(--ms-transition);
        transition-timing-function: var(--transition-effect);
      }

      &-icon {
        fill: #afb1b8;
      }

      &-logo:hover &-icon,
        &-logo:focus &-icon {
          fill: $logo-text-color;   
        }
    